/* FONTS */
$font-base: 16px;

/* COLORS */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(34, 126, 204);
$yellow: rgb(241, 184, 62);
$grey-light: rgb(243, 244, 248);
$grey-dark:rgb(151, 151, 154);

/* BREAK POINTS */
$mobile: 600px;
